button[title="View fullscreen"]{
    visibility: hidden;
}

.stTabs [data-baseweb="tab-list"] {
    gap: 4px;
}

.stTabs [data-baseweb="tab"] {
    height: 50px;
    width: 150px;
    white-space: wrap;
    background-color: #262730;
    border-radius: 8px 8px 8px 8px;
    gap: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: 100px;
}

.stTabs [aria-selected="true"] {
    background-color: #262730;
}

.stTabs [data-baseweb="tab-border"] {
    display: none;
}


/* Remove plus minus on number buttons 
button.step-up {display: none;}
button.step-down {display: none;}
div[data-baseweb] {border-radius: 4px;}
*/